.navbar{
    padding: 0;
    margin: 0px;

}

.container-fluid{
    background-color: hsl(0, 0%, 20%);
    height: 45px;
}

.nav-link{
    font-family:"SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-indent: 30px;
    text-align: left;
    color: #f5f5f7;
    opacity: 0.8;

}

.dropdown{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    text-indent: 35px;
    color: #f5f5f7;
    opacity: 0.8;

}

.dropdown-item{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;    font-weight: 400;
    font-size: 20px;
    font-weight: 400;
  
    color: #06c;
}

.btn{
    background-color:rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
    padding: 0;
    margin: 0;
}

.offcanvas-top{
    position: fixed;
    left: 33%;
    width: 600px;
    height: 280px;
    background-color:#1b1b1b;
    border-color:#1b1b1b;
    opacity: 200%;
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px;
}
.form-control{
    background-color:#1b1b1b;
    border-color: #1b1b1b;

}
.offcanvas-body{
    background-color:white ;
    border-color: white;
    margin-top:-20;
    text-align: left;
    height: 280px;
    width: 600px;
    border-bottom-left-radius: 25px ;
    border-bottom-right-radius: 25px;
}

.quick{
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;    font-weight: 400;
    font-size: 17px;
    font-weight: 400;
    text-indent: 50px;
    text-align: left;
    color: #818185;
    opacity: 0.8;
}

.searchbar-header{
    font-size: 12px;
    color: #818185;
    margin-bottom: 5px;
    margin-left: 10px;

}

.searchbar-text{
    font-size: 14px;
    color: black;
    margin-left: 20px;
    text-decoration: none;
    text-
}