
<nav class = "navbar fixed-bottom bg-light nav-fill">
    <div class = "container justify-content-center">
        <ul class = "nav">
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#"> 
                    Privacy Policy
                </a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#"> 
                    Terms of Use
                </a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#"> 
                    Sales and Refunds
                </a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#"> 
                    Legal
                </a>
            </li>
            <li class = "nav-item">
                <a class = "nav-link text-black" href = "#"> 
                    Site Map
                </a>
            </li>
        </ul>
        <ul class = "nav">
        <li class = "nav-item">
            <a class = "nav-link text-black" href = "#"> 
                United States
            </a>
        </li>
        </ul>
    </div>
</nav>