.card1{
  position:absolute; 
  width: 100%; 
  text-align: center;
  top: 38px;
  
}

.card2{
  position:absolute; 
  top: 110px;
  width: 100%; 
  text-align: center;
}

.link{
  text-decoration: none;
}

.card-text{
  font-size: 14px;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
}

.card2-header{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 55px;
  font-weight: 800;
}

.card2-subheader{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height:0;
  margin-top: -5px;
  margin-bottom: 40px;
}

.card2-text{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height:0.5;
  color: #7e7e7e;
}

.card2-link{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2d69d8;
  text-decoration: none;

  
}

.card2-link2{
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2d69d8;
  text-decoration: none;

  
}