<div class="card1">
    <div class="card-body">
      <p class="card-text">We look forward to welcoming you to our stores. 
        Whether you <a class = "link" href="#">shop in a store</a> or <a class = "link" href="#">shop online</a> our Specialists can help you buy the products you love.</p>
    </div>
  </div>

  <div class="card2">
    <div class="card-body">
      <p class = "card2-header"> iPhone 12</p>
      <p class = "card2-subheader"> Blast past fast.</p>
      <p class = "card2-text"> From $29.12/mo. for 24 mo. or $699 before trade-in</p>
      <p class = "card2-text"> Buy directly from Apple with special carrier offers</p>
      <a class = "card2-link" href="#">Learn more</a> 
      <a class = "card2-link2" href="#">Buy</a> 
    </div>
  </div>