<div class = "container">

  <div class = "container-fluid">
    <p>One Apple ID is all you need to access all Apple services. 
      <br>Already have an Apple ID? <a href = #> Find it here</a></p>
  </div>

    <form #postForm = "ngForm" (ngSubmit) = "onAdd(postForm.value)">
      
        <div class = "input-group justify-content-center">
            <input type="text" class="form-control first" placeholder="First Name" ngModel name="FirstName">
            <input type="text" class="form-control last" placeholder="Last Name" ngModel name="LastName">
        </div>

        <p class = "country">COUNTRY/REGION</p>
        <div class="input-group justify-content-center">
        
          <select class="form-select dropdown" ngModel name="Country">
            <option selected value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Russia">Russia</option>
            <option value="Switzerland">Switzerland</option>
          </select>
          
        </div>

          <div class="container justify-content-center">

            <div class="input-group justify-content-center between">
                <input type="text" class="form-control input" placeholder="Birthday" ngModel name="Birthday">
            </div>

            <div class="input-group justify-content-center divided">
              <input type="text" class="form-control input" placeholder="name@example.com" ngModel name="Email">
            </div>

            <p class = "appleID">This will be your new Apple ID</p>

            <div class="input-group justify-content-center">
              <input type="password" class="form-control input " placeholder="Password" ngModel name="Password">
            </div>

            <div class="input-group justify-content-center between">
              <input type="password" class="form-control input" placeholder="Confirm password" ngModel name="ConfirmedPassword">
            </div>
          
             

              <div class="input-group justify-content-center">
                <select class="form-select dropdown">
                  <option selected>+1 (United States)</option>
                  <option value="1">+44 (United Kingdom)</option>
                  <option value="2">+7 (Russia)</option>
                  <option value="3">+41 (Switzerland)</option>
                </select>
              </div>

              <div class="input-group justify-content-center between">
                <input type="text" class="form-control input" placeholder="Phone number" ngModel name="Phone">
              </div>
            
            </div>

         <button class = "btn" type = "submit">
            Continue
         </button>
    </form>
    
</div>