<div class="card" style="width: 18rem;">
  <img src={{imagePath}} class="card-img">
  <div class="card-body">
    <p class = "card-title">{{title}}</p>
    <p class= "card-price">{{price}}</p>
    <p class="card-text">{{size}}</p>
    <p class="card-text">{{display}}</p>
    <p class="card-text">{{gps}}</p>
    <p class="card-text">{{gpsCellular}}</p>
    <p class="card-text">{{ecg}}</p>
    <p class="card-text">{{heartRate}}</p>
    <p class="card-text">{{familySetup}}</p>
    <p class="card-text">{{waterResistance}}</p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>