<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <body class="text-center">
      <main class="form-signin">
        <div *ngIf="auth.user | async as user; else showLogin">
          <h1>Hello {{ user }}!</h1>
          <button (click)="logout()">Logout</button>
        </div>
      </main>
      <ng-template #showLogin>
        <form #authForm="ngForm" (ngSubmit)="login(authForm)">
          <img
            class="mb-4"
            src="/assets/wvu1.jpg"
            alt=""
            width="72"
            height="57"
          />
          <h1 class="h3 mb-3 fw-normal">Meet Mountaineers! Sign in below!</h1>

          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
              ngModel
              name="email"
              required
              email
            />
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              ngModel
              name="password"
              required
              password
              minlength="8"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <button
            class="w-100 btn btn-lg btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
            (click)="login(authForm)"
          >
            Sign in
          </button>
        </form>
      </ng-template>
    </body>
  </div>
</div>
