<div class="body-2">

  <div class = "row">
    <div class="col-6 textbox">
      <p class="title">iPhone 13 Pro</p>
      <p class="text">
            {{text1}}
        <br>{{text2}}
        <br>{{text3}}
        <br>{{text4}}
      </p>
        <div class="buttons container-fluid">
        <a class="btn btn-primary" href="#" role="button">Learn more</a>
        <a class="btn btn-primary" style="margin: 15px" href="#" role="button">View pricing</a>
      </div>
    </div>
    <div class="col-6 imagebox">
      <img class = "img-fluid image" src = "./assets/card2_bg.jpg" width="100%"> 
    </div>
  </div>
  </div>