<div class = "navbar container-fluid">
    <a class="btn btn-primary" href="#" role="button">Return to chat</a>
</div>

<div class=" d-flex card" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/profile.png" class="img-fluid p-0">
      </div>
      <div class="col">
        <div class="card-body ml">
            <p>Name</p>
            <p>Role</p>
        </div>
      </div>



    </div>


  <div class="card" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/profile.png" class="img-fluid">
      </div>
      <div class="col">
        <div class="card-body ml">
            <p>Name</p>
            <p>Role</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card " style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/profile.png" class="img-fluid">
      </div>
      <div class="col">
        <div class="card-body ml">
            <p>Name</p>
            <p>Role</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/profile.png" class="img-fluid">
      </div>
      <div class="col">
        <div class="card-body ml">
            <p>Name</p>
            <p>Role</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card " style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/profile.png" class="img-fluid">
      </div>
      <div class="col">
        <div class="card-body ml">
            <p>Name</p>
            <p>Role</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card" style="max-width: 540px;">
    <div class="row">
      <div class="col-md-2">
        <img src="./assets/addprofile.png" class="img-fluid">
      </div>
      <div class="col">
        <div class="card-body">
            <p class = "add">Add member</p>
        </div>
      </div>
    </div>
  </div>
  
  
<div class = "navbar fixed-bottom container justify-content-center">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search for members" >
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
 </div>

