<!--Activate Tooltips-->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>

<div class="p-3 d-flex flex-nowrap justify-content-between">
    <div class="d-inline-flex">
        <img class="profile_pic" src="/assets/WS.png" alt="Profile Picture">
        <ul>
            <h1>Walter Sandmeier</h1>
            <p>#wms0011</p>
        </ul>
    </div>
    <div class="align-self-top">
        <!--Profile Edit-->
        <button type="button" class="btn btn-link" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="Edit Info">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-pencil"
                viewBox="0 0 16 16">
                <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
        </button>
        <!--Indicator-->
        <button type="button" class=" btn btn-link" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="User Status">
            <svg class="indidcator" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red"
                class="bi bi-circle-fill" viewBox="0 0 16 16">
                <circle cx="8" cy="8" r="8" />
            </svg>
        </button>
    </div>
</div>
<!--User Bio-->
<div class="p-3 container-flex">
    <div class="bio p-3">
        <!--Bio Identifier-->
        <h3>
            bio:
        </h3>
        <!--Text of Bio-->
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
            deserunt mollit anim id est laborum.
        </p>
    </div>
</div>
<!--Friends List-->
<div class="p-3">
    <input type="text" class="form-control" id="text1" placeholder="Search your Friends">
</div>
<div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <div *ngFor="let friend of friends;">
        <friend-icon name={{friend.name}} status={{friend.status}} imagePath={{friend.imagePath}}></friend-icon>
    </div>
</div>
<div class="p-3">
    <input type="text" class="form-control" id="text1" placeholder="Search your Chats">
</div>
<div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <div *ngFor="let chat of chats;">
        <chat-icon name={{chat.name}} imagePath={{chat.imagePath}}></chat-icon>
    </div>
</div>