<div class="container-fluid">
  <div class="d-flex justify-content-center header">Add Friends</div>
  <div class="d-flex justify-content-center searchBar">
    <input
      type="text"
      class="form-control"
      id="text1"
      placeholder="Search by MIX address or Username..."
    />
  </div>
</div>
<div>
  <div class="d-flex justify-content-center left-shift">Recent Users:</div>
  <div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <friend-icon name="Drey Newland" status="Online" imagePath=""></friend-icon>
    <friend-icon
      name="Walter Sandmeier"
      status="Offline"
      imagePath=""
    ></friend-icon>
    <friend-icon name="Voke Brume" status="Online" imagePath=""></friend-icon>
    <friend-icon
      name="Matthew Adams"
      status="Offline"
      imagePath=""
    ></friend-icon>
    <friend-icon
      name="Daniel Gallegos"
      status="Online"
      imagePath=""
    ></friend-icon>
    <friend-icon name="Jacob Wenner" status="Online" imagePath=""></friend-icon>
    <friend-icon name="John Doe" status="Offline" imagePath=""></friend-icon>
    <friend-icon name="Jane Doe" status="Online" imagePath=""></friend-icon>
    <friend-icon name="Jim Doe" status="Online" imagePath=""></friend-icon>
    <friend-icon name="Jack Doer" status="Online" imagePath=""></friend-icon>
  </div>
</div>
<div>
  <div class="d-flex justify-content-center left-shift">
    People You Might Know:
  </div>
  <div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <friend-icon
      name="Drey Newland"
      status="Offline"
      imagePath=""
    ></friend-icon>
    <friend-icon
      name="Walter Sandmeier"
      status="Online"
      imagePath=""
    ></friend-icon>
    <friend-icon name="Voke Brume" status="Online" imagePath=""></friend-icon>
    <friend-icon
      name="Matthew Adams"
      status="Offline"
      imagePath=""
    ></friend-icon>
    <friend-icon
      name="Daniel Gallegos"
      status="Online"
      imagePath=""
    ></friend-icon>
    <friend-icon name="Jacob Wenner" status="Online" imagePath=""></friend-icon>
    <friend-icon name="John Doe" status="Online" imagePath=""></friend-icon>
    <friend-icon name="Jane Doe" status="Offline" imagePath=""></friend-icon>
    <friend-icon name="Jim Doe" status="Online" imagePath=""></friend-icon>
    <friend-icon name="Jack Doer" status="Offline" imagePath=""></friend-icon>
  </div>
</div>
