<div class="header1">
  <div class="d-flex justify-content-center header2">
    Add Friends
  </div>
  <button
      onclick="location.href='/account'"
      type="button"
      class="btn btn-link home"
      data-bs-toggle="tooltip"
      data-bs-placement="bottom"
      title="Account"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="60"
        height="60"
        fill="black"
        class="bi bi-plus"
        viewBox="0 0 20 20"
      >
        <path
          d="M18.121,9.88l-7.832-7.836c-0.155-0.158-0.428-0.155-0.584,0L1.842,9.913c-0.262,0.263-0.073,0.705,0.292,0.705h2.069v7.042c0,0.227,0.187,0.414,0.414,0.414h3.725c0.228,0,0.414-0.188,0.414-0.414v-3.313h2.483v3.313c0,0.227,0.187,0.414,0.413,0.414h3.726c0.229,0,0.414-0.188,0.414-0.414v-7.042h2.068h0.004C18.331,10.617,18.389,10.146,18.121,9.88 M14.963,17.245h-2.896v-3.313c0-0.229-0.186-0.415-0.414-0.415H8.342c-0.228,0-0.414,0.187-0.414,0.415v3.313H5.032v-6.628h9.931V17.245z M3.133,9.79l6.864-6.868l6.867,6.868H3.133z"
        />
      </svg>
    </button>
</div>
<div class="d-flex justify-content-center searchBar">
  <input type="text" class="form-control" id="text1" placeholder="Search by MIX address or Username..." />
</div>
<div>
  <div class="d-flex justify-content-center left-shift">
    Recent Users:
  </div>
  <div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <div *ngFor="let friend of friends">
      <friend-icon name="{{ friend.name }}" status="{{ friend.status }}" imagePath="{{ friend.imagePath }}">
      </friend-icon>
    </div>
  </div>
</div>
<div>
  <div class="d-flex justify-content-center left-shift">
    People You Might Know:
  </div>
  <div class="p-2 d-inline-flex flex-nowrap justify-content-center">
    <div *ngFor="let friend of friends">
      <friend-icon name="{{ friend.name }}" status="{{ friend.status }}" imagePath="{{ friend.imagePath }}">
      </friend-icon>
    </div>
  </div>
</div>
